@reference '@style';

@layer components {
  .input {
    @apply flex w-full rounded-md border border-slate-300 bg-white/70 p-2 text-sm backdrop-blur-sm transition-all outline-none placeholder:text-slate-500 
    focus:border-slate-700 focus:bg-white focus:shadow-sm 
    disabled:cursor-not-allowed disabled:opacity-50
    placeholder:text-slate-500 placeholder:text-sm;
  }

  .input-icon {
    @apply absolute top-1/2 z-10 -translate-y-1/2 border-none bg-transparent p-0 text-gray-400;
  }
}
